<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href = "/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../public/stylesheets/style.css"/>
	</head>
	<body>
	<H1>Acme - Top Tier Triathlon Products</H1>
	<ul class = "nav nav-tabs">
		<li><a href="/">Home</a></li>
		<li><a href="/products">Products</a></li>
		

	</ul>
	<div class = "container">
	<div margin-top: 10px>
		{%block main%}
			Products Content
		{%endblock%}
	</div>
		
	</div>

	
	</body>
</html>
